{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    .survey_container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f9f9f9;
        margin-bottom: 150px;
    }

    .button-field {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        font-size: 16px;
    }

    .button-field:hover {
        background-color: #0056b3;
    }

    .field {
        margin-bottom: 20px;
    }

    .field label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .choice-buttons {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
    }

    .choice-buttons label {
        flex: 1;
        padding: 10px;
        margin: 5px 0;
        text-align: center;
        border: 1px solid #007bff;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }

    .choice-buttons input[type="radio"] {
        display: none;
    }

    .choice-buttons input[type="radio"]:checked+label {
        background-color: #0056b3;
    }

    .hidden-field {
        display: none;
    }

    .survey_container {
        font-family: 'Pretendard Bold', sans-serif;

    }

    .title_survey {
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .results {
        padding-bottom: 150px;
    }
</style>
<div id="title_survey" class="title_survey">
<h3 style="text-align: center;">설문조사</h3>
</div>
<div class="survey_container">
    <form method="POST" id="survey_form">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="field">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="field">
            {{ form.age.label_tag }}
            {{ form.age }}
        </div>
        <div class="field">
            {{ form.height.label_tag }}
            {{ form.height }}
        </div>
        <div class="field">
            {{ form.weight.label_tag }}
            {{ form.weight }}
        </div>
        <div class="field">
            {{ form.current_medications_or_supplements.label_tag }}
            {{ form.current_medications_or_supplements }}
        </div>
        <div class="field">
            {{ form.allergies.label_tag }}
            {{ form.allergies }}
        </div>

        <div class="field">
            {{ form.gender.label_tag }}
            <div class="choice-buttons">
                {% for value, label in form.gender.field.choices %}
                <input type="radio" id="id_gender_{{ forloop.counter0 }}" name="{{ form.gender.html_name }}"
                    value="{{ value }}">
                <label for="id_gender_{{ forloop.counter0 }}">{{ label }}</label>
                {% endfor %}
            </div>
        </div>

        <div class="field">
            {{ form.exercise_frequency_per_week.label_tag }}
            <div class="choice-buttons">
                {% for value, label in form.exercise_frequency_per_week.field.choices %}
                <input type="radio" id="id_exercise_frequency_per_week_{{ forloop.counter0 }}"
                    name="{{ form.exercise_frequency_per_week.html_name }}" value="{{ value }}">
                <label for="id_exercise_frequency_per_week_{{ forloop.counter0 }}">{{ label }}</label>
                {% endfor %}
            </div>
        </div>

        <div class="field">
            {{ form.average_sleep_hours_per_day.label_tag }}
            <div class="choice-buttons">
                {% for value, label in form.average_sleep_hours_per_day.field.choices %}
                <input type="radio" id="id_average_sleep_hours_per_day_{{ forloop.counter0 }}"
                    name="{{ form.average_sleep_hours_per_day.html_name }}" value="{{ value }}">
                <label for="id_average_sleep_hours_per_day_{{ forloop.counter0 }}">{{ label }}</label>
                {% endfor %}
            </div>
        </div>

        <div class="field">
            {{ form.smoking_status.label_tag }}
            <div class="choice-buttons">
                {% for value, label in form.smoking_status.field.choices %}
                <input type="radio" id="id_smoking_status_{{ forloop.counter0 }}"
                    name="{{ form.smoking_status.html_name }}" value="{{ value }}">
                <label for="id_smoking_status_{{ forloop.counter0 }}">{{ label }}</label>
                {% endfor %}
            </div>
        </div>

        <div class="field">
            {{ form.alcohol_consumption.label_tag }}
            <div class="choice-buttons">
                {% for value, label in form.alcohol_consumption.field.choices %}
                <input type="radio" id="id_alcohol_consumption_{{ forloop.counter0 }}"
                    name="{{ form.alcohol_consumption.html_name }}" value="{{ value }}">
                <label for="id_alcohol_consumption_{{ forloop.counter0 }}">{{ label }}</label>
                {% endfor %}
            </div>
        </div>

        <div class="field">
            {{ form.average_meals_per_day.label_tag }}
            <div class="choice-buttons">
                {% for value, label in form.average_meals_per_day.field.choices %}
                <input type="radio" id="id_average_meals_per_day_{{ forloop.counter0 }}"
                    name="{{ form.average_meals_per_day.html_name }}" value="{{ value }}">
                <label for="id_average_meals_per_day_{{ forloop.counter0 }}">{{ label }}</label>
                {% endfor %}
            </div>
        </div>

        <div class="field">
            {{ form.main_foods.label_tag }}
            <div class="choice-buttons">
                {% for value, label in form.main_foods.field.choices %}
                <input type="radio" id="id_main_foods_{{ forloop.counter0 }}" name="{{ form.main_foods.html_name }}"
                    value="{{ value }}">
                <label for="id_main_foods_{{ forloop.counter0 }}">{{ label }}</label>
                {% endfor %}
            </div>
        </div>

        <div class="field">
            {{ form.snacks.label_tag }}
            <div class="choice-buttons">
                {% for value, label in form.snacks.field.choices %}
                <input type="radio" id="id_snacks_{{ forloop.counter0 }}" name="{{ form.snacks.html_name }}"
                    value="{{ value }}">
                <label for="id_snacks_{{ forloop.counter0 }}">{{ label }}</label>
                {% endfor %}
            </div>
            <div>
                <input type="text" class="hidden-field" style="display: none;" id="snacks_other"
                    name="{{ form.snacks_other.html_name }}">
            </div>
        </div>

        <div class="field">
            {{ form.health_goals.label_tag }}
            <div class="choice-buttons">
                {% for value, label in form.health_goals.field.choices %}
                <input type="radio" id="id_health_goals_{{ forloop.counter0 }}" name="{{ form.health_goals.html_name }}"
                    value="{{ value }}">
                <label for="id_health_goals_{{ forloop.counter0 }}">{{ label }}</label>
                {% endfor %}
            </div>
            <div>
                <input type="text" class="hidden-field" style="display: none;" id="health_goals_other"
                    name="{{ form.health_goals_other.html_name }}">
            </div>
        </div>

        <div class="field">
            {{ form.interested_supplements.label_tag }}
            <div class="choice-buttons">
                {% for value, label in form.interested_supplements.field.choices %}
                <input type="radio" id="id_interested_supplements_{{ forloop.counter0 }}"
                    name="{{ form.interested_supplements.html_name }}" value="{{ value }}">
                <label for="id_interested_supplements_{{ forloop.counter0 }}">{{ label }}</label>
                {% endfor %}
            </div>
            <div>
                <input type="text" class="hidden-field" style="display: none;" id="interested_supplements_other"
                    name="{{ form.interested_supplements_other.html_name }}">
            </div>
        </div>

        <div class="field">
            <div>
                {{ form.specific_health_issues_to_improve.label_tag }}
                <label>
                    {{ form.specific_health_issues_to_improve }}
                </label>
            </div>
        </div>

        <button type="button" class="button-field" onclick="submitForm()">다음페이지</button>
    </form>
</div>

<div id="loading" style="display: none;">
    <div style="text-align: center;">
        <img src="{% static 'media/SurveyLoading.gif' %}" alt="Survey Loading">
    </div>
        <br>
        <br>
        <br>
    <h4 style="text-align: center;">알고계신가요?</h4>
        <br>
        <br>
    <div id="vitamin-info">
        <p id="nickname" style="text-align: center; color: rgb(0, 67, 212); font-size: xx-large;"></p>
        <br>
        <br>
        <h5 id="name" style="text-align: center; font-size: x-large;"></h5>
        <p id="description" style="text-align: center;"></p>
    </div>
</div>
<div id="results" style="display: none; text-align: center; padding-bottom: 150px">
    <br>
    <br>
    <br>
    <h2>추천 영양소</h2>
    <br>
    <br>
    <div id="recommended_nutrients"></div>
    <br>
    <br>
    <h2>같이 먹으면 <span style="color: green;">좋은</span> 영양소</h2>
    <br>
    <br>
    <div id="synergistic_nutrients"></div>
    <br>
    <br>
    <h2>같이 먹으면 <span style="color: red;">안되는</span> 영양소</h2>
    <br>
    <br>
    <div id="antagonistic_nutrients"></div>
    <br>
    <br>
    <h2>대체 음식</h2>
    <br>
    <br>
    <div id="alternative_foods"></div>
    <br>
    <br>
    <h2>같이 먹으면 <span style="color: red;">안되는</span> 음식</h2>
    <br>
    <br>
    <div id="incompatible_foods"></div>
</div>

<script>
    const apiUrl = window.config.apiUrl;
    document.addEventListener('DOMContentLoaded', function () {
        function toggleOtherInput(radioName, otherInputId) {
            var otherInput = document.getElementById(otherInputId);
            var radioButtons = document.querySelectorAll('input[name="' + radioName + '"]');

            radioButtons.forEach(function (radio) {
                radio.addEventListener('change', function () {
                    if (radio.value === 'OTHER') {
                        otherInput.style.display = 'block';
                    } else {
                        otherInput.style.display = 'none';
                        otherInput.value = ''; // Reset the value if 'other' is not selected
                    }
                });
            });
        }

        // 각 필드에 대해 함수 호출
        toggleOtherInput('{{ form.snacks.html_name }}', 'snacks_other');
        toggleOtherInput('{{ form.health_goals.html_name }}', 'health_goals_other');
        toggleOtherInput('{{ form.interested_supplements.html_name }}', 'interested_supplements_other');
    });
</script>

<script>
    const apiUrl = window.config.apiUrl;

    function fetchNewContent() {
    axios.get(`${apiUrl}/api/survey/loading/`)
        .then(response => {
            const data = response.data;
            document.getElementById('name').innerText = data.name;
            document.getElementById('nickname').innerHTML = "<strong>" + data.nickname + "</strong>";
            document.getElementById('description').innerText = data.description;
        })
        .catch(error => console.error('Error fetching new content:', error));
}

// 설문조사 결과 정보를 가져오는 함수 실행
fetchNewContent();

// 5초마다 새로운 내용 가져오기
setInterval(fetchNewContent, 5000);

function appendNutrients(divId, results, prefix) {
    const div = document.getElementById(divId);
    for (let i = 1; i <= 3; i++) {
        const element = document.createElement('p');
        element.textContent = results[`${prefix}_${i}`];
        div.appendChild(element);
    }
}

function submitForm() {
    document.querySelector('.survey_container').style.display = "none";
    document.querySelector('.title_survey').style.display = "none";
    document.getElementById("survey_form").style.display = "none";
    document.getElementById("loading").style.display = "block";

    var form = document.getElementById('survey_form');
    var formData = new FormData(form);

    axios({
        method: 'post',
        url: `${apiUrl}/api/survey/`,
        data: formData,
        headers: { 'Content-Type': 'multipart/form-data' }
    }).then(function (response) {
        const results = response.data.result;

        appendNutrients('recommended_nutrients', results, 'recommended_nutrients');
        appendNutrients('synergistic_nutrients', results, 'synergistic_nutrients');
        appendNutrients('antagonistic_nutrients', results, 'antagonistic_nutrients');
        appendNutrients('alternative_foods', results, 'alternative_foods');
        appendNutrients('incompatible_foods', results, 'incompatible_foods');

        // 기타 결과 섹션도 유사하게 포함

        document.getElementById("loading").style.display = "none";
        document.getElementById("results").style.display = "block";
    }).catch(function (error) {
        console.error('Error submitting form:', error);
        // 추가적인 오류 처리 로직을 여기에 추가할 수 있습니다.
    });
}
</script>
{% endblock content %}

