{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h3 style="text-align: center;">설문조사 로딩페이지</h3>

<div style="text-align: center;">
    <img src="{% static 'media/SurveyLoading.gif' %}" alt="Survey Loading">
</div>

<h4 style="text-align: center;">알고계신가요?</h4>

<div id="vitamin-info">
    <h5 id="name" style="text-align: center;"></h5>
    <p id="nickname" style="text-align: center;"></p>
    <p id="description" style="text-align: center;"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    function fetchNewContent() {
        axios.get("{% url 'survey:loading' %}")
            .then(response => {
                const data = response.data;
                document.getElementById('name').innerText = data.name;
                document.getElementById('nickname').innerHTML = "<strong>" + data.nickname + "</strong>";
                document.getElementById('description').innerText = data.description;
            })
            .catch(error => console.error('Error fetching new content:', error));
    }
    fetchNewContent()
    // Fetch new content every 15 seconds
    setInterval(fetchNewContent, 5000);
});
</script>

{% endblock content %}