{% extends "base.html" %}
{% load static %}
{% block content %}     
{% load crispy_forms_tags %}
<h3>정보 게시판</h3>
<div id='post-detail'>
</div>
<button type="button" id="editbtn" onclick="window.location.href='{% url 'web:post_update' post_pk %}'" style="display:none">글 수정</button>
<button type="button" id="deletebtn" onclick="postdelete()" style="display:none">삭제</button>
<h3>댓글</h3>
<div id="comment-form">
    <textarea id="commentContent" rows="3" placeholder="댓글을 작성하세요"></textarea>
    <button type="button" class="btn btn-primary" onclick="submitComment()">댓글 작성하기</button>
</div> 
<div id='comments'>
</div>

<script>
    const postID = {{ post_pk }};
    const postDetailDiv = document.getElementById('post-detail');
    const commentDiv = document.getElementById('comments');
    const url = `{% url 'post:post_detail' 0 %}`.replace('0', postID);

    axios.get(url)
    .then(response => {
        const post = response.data;

        const title = document.createElement('h2');
        title.textContent = post.title;
        postDetailDiv.appendChild(title);

        const author = document.createElement('p');
        author.textContent = `작성자: ${post.author}`;
        postDetailDiv.appendChild(author);

        const content = document.createElement('p');
        content.textContent = post.content;
        postDetailDiv.appendChild(content);

        const isStaff = localStorage.getItem('is_staff')
        if (isStaff =='true'){
            document.getElementById("deletebtn").style.display = "block";
            document.getElementById("editbtn").style.display = "block"
        }

    })
    .catch(error => {
        console.error('게시물을 불러오는 중 오류가 발생했습니다:', error);
    });

    //포스트 삭제 함수
    function postdelete() {
        const url = `{% url 'post:post_detail' 0 %}`.replace('0', postID);
        axios.delete(url)
        window.location.href = '/post/info/'
    }


</script>
<br><br><br><br><br><br><br><br><br><br><br><br>    
{% endblock content %}
