{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="post">
        <div id='post-detail'>
        </div>
        <div class="button-container">
            <button type="button" id="editbtn" class="btn btn-secondary"
                onclick="window.location.href='{% url 'web:post_update' post_pk %}'" style="display:none">글 수정</button>
            <button type="button" id="deletebtn" class="btn btn-danger" onclick="postdelete()"
                style="display:none">삭제</button>
        </div>
    </div>
</div>
<script>
    const apiUrl = window.config.apiUrl;
    const postID = {{ post_pk }};
    const postDetailDiv = document.getElementById('post-detail');
    const commentDiv = document.getElementById('comments');
    const url = `${apiUrl}/api/post/${postID}`;

    axios.get(url)
        .then(response => {
            const post = response.data;

            const title = document.createElement('h2');
            title.textContent = post.title;
            postDetailDiv.appendChild(title);

            const hr = document.createElement('hr');
            postDetailDiv.appendChild(hr);

            const content = document.createElement('p');
            content.innerHTML = post.content;
            postDetailDiv.appendChild(content);

            const isStaff = localStorage.getItem('is_staff')
            if (isStaff == 'true') {
                document.getElementById("deletebtn").style.display = "block";
                document.getElementById("editbtn").style.display = "block"
            }

        })
        .catch(error => {
            console.error('게시물을 불러오는 중 오류가 발생했습니다:', error);
        });

    //포스트 삭제 함수
    function postdelete() {
        const url = `${apiUrl}/api/post/${postID}/`;

        axios.delete(url)
            .then(response => {
                // 포스트가 성공적으로 삭제되었을 때 페이지를 새로고침
                window.location.href = '/post/info/';
            })
            .catch(error => {
                console.error('포스트 삭제 중 오류가 발생했습니다:', error);
                // 에러가 발생해도 페이지를 새로고침
                window.location.href = '/post/info/';
            });
    }

</script>
<br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}