{% extends "base.html" %}

{% block content %}
<div id='post-detail'>
</div>
<h3>댓글</h3>
<div id='comments'>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const postID = {{ post_id }}
    const postDetailDiv = document.getElementById('post-detail');
    const commentDiv = document.getElementById('comments')
    axios.get(`http://127.0.0.1:8000/api/post/${postID}/`)
            .then(response => {
                const post = response.data;
                console.log(post)

                const title = document.createElement('h2');
                title.textContent = post.title;
                postDetailDiv.appendChild(title);

                const author = document.createElement('p');
                author.textContent = `작성자: ${post.author}`;
                postDetailDiv.appendChild(author);

                const image = document.createElement('img');
                image.src = post.image;
                postDetailDiv.appendChild(image);

                const likeCounts = document.createElement('p');
                likeCounts.textContent = `좋아요 수: ${post.like_counts}`;
                postDetailDiv.appendChild(likeCounts);
                
                const comments = post.comments;
                console.log(comments);
                comments.forEach(comment => {
                    const commentItem = document.createElement('p');
                    commentItem.textContent = comment.content;
                    commentDiv.appendChild(commentItem)
                })

            })
    </script>
{% endblock content %}