{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>글 쓰기</h1>

<div class = "container">
    <form id="postForm" enctype="multipart/form-data">
    {% csrf_token %}
    {{form | crispy}}
    <br>
    <button type="button" onclick="submitForm()">저장</button>
    </form>
</div>

<a href="javascript:void(0);" onclick="history.back();">목록으로</a>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        CKEDITOR.replace('id_content'); // 'id_content'는 당신의 textarea의 id입니다.
    });
</script>


<script>
    function submitForm() {
        for (var instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
        const apiUrl = window.config.apiUrl;
        const form = document.getElementById('postForm');
        const formData = new FormData(form);

        axios.post(`${apiUrl}/api/post/`, formData, {
            headers: {
                
                'Content-Type': 'multipart/form-data'
            }
        })
            .then(response => {
                const isStaff = localStorage.getItem('is_staff');
                if (isStaff === 'true') {
                    window.location.href = "/post/info/"; // 스태프인 경우 정보 페이지로 이동
                } else {
                    window.location.href = "/post/review/"; // 스태프가 아닌 경우 리뷰 페이지로 이동
                }
            })
            .catch(error => {
                console.error('폼 제출 중 오류가 발생했습니다:', error);
                alert('폼 제출 중 오류가 발생했습니다. 다시 시도해 주세요.');
            });
    }
</script>
{% endblock content %}