{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>글 수정</h1>

<form id="postForm" action= "{% url 'web:post_update' post_pk %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit">저장</button>
</form>
<a href="javascript:void(0);" onclick="history.back();">뒤로 가기</a>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        CKEDITOR.replace('id_content'); // 'id_content'는 당신의 textarea의 id입니다.
    });
</script>
{% endblock content %}