{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>글 쓰기</h1>

<div class = "container">
    <form method ="POST">
    {% csrf_token %}
    {{form.media}}    
    {{form.as_p}}
    <br>
        <input class="btn btn dark" type="submit" value="제출하기">
    </form>
</div>

<a href="javascript:void(0);" onclick="history.back();">목록으로</a>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        CKEDITOR.replace('id_content'); // 'id_content'는 당신의 textarea의 id입니다.
    });
</script>


<script>
    function submitForm() {
        const form = document.getElementById('postForm');
        const formData = new FormData(form);
        console.log(1)

        axios.post("/api/post/", formData, {
            headers: {
                
                'Content-Type': 'multipart/form-data'
            }
        })
        .then(response => {
            // 성공 시 목록 페이지로 리디렉션
            history.back();
        })
        .catch(error => {
            console.error('폼 제출 중 오류가 발생했습니다:', error);
            alert('폼 제출 중 오류가 발생했습니다. 다시 시도해 주세요.');
        });
    }
</script>
{% endblock content %}