{% extends "base.html" %}
{% load static %}
{% block content %}
<div id='post-detail'>
</div>
<h3>댓글</h3>
<div id='comments'>
</div>
<script>
    const postID = {{ post_pk }};
    const postDetailDiv = document.getElementById('post-detail');
    const commentDiv = document.getElementById('comments');
    const url = `{% url 'post:post_detail' 0 %}`.replace('0', postID); // 0을 postID로 대체
    axios.get(url)
            .then(response => {
                const post = response.data;
                console.log(post);

                const title = document.createElement('h2');
                title.textContent = post.title;
                postDetailDiv.appendChild(title);

                const author = document.createElement('p');
                author.textContent = `작성자: ${post.author}`;
                postDetailDiv.appendChild(author);

                const image = document.createElement('img');
                image.src = post.image;
                postDetailDiv.appendChild(image);

                const likeCounts = document.createElement('p');
                likeCounts.textContent = `좋아요 수: ${post.like_counts}`;
                postDetailDiv.appendChild(likeCounts);
                
                const comments = post.comments;
                console.log(comments);
                comments.forEach(comment => {
                    const commentDiv = document.createElement('div');
                    const commentText = document.createElement('p');
                    commentText.textContent = comment.content;
                    commentDiv.appendChild(commentText);

                    commentDiv.style.marginLeft = '20px'; // 댓글의 들여쓰기

                    commentDiv.appendChild(commentText);

                    postDetailDiv.appendChild(commentDiv);

                    if (comment.replies) {    
                        comment.replies.forEach(reply => {
                            const replyDiv = document.createElement('div');
                            const replyText = document.createElement('p');
                            replyText.textContent = reply.content;
                            replyDiv.appendChild(replyText);
                            replyDiv.style.marginLeft = '40px';  // 대댓글의 추가 들여쓰기
                            postDetailDiv.appendChild(replyDiv);
                        });
                    }
                });

            });
</script>
{% endblock content %}
