{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="mypage">
    <section id="user-info">
        <h2>개인정보</h2>
        <p>이름: <span id="user-name"></span></p>
        <p>이메일: <span id="user-email"></span></p>
        <p>닉네임: <span id="user-nickname"></span></p>
    </section>

    <section id="update-info">
        <a href="{% url 'web:update' username %}"><button type="button">회원정보 변경</button></a>
        <a href="{% url 'web:password_update' username %}"><button type="button" class="password-change">비밀번호
                변경</button></a>
    </section>
</div>


<script>
    // 사용자 정보를 불러오는 함수
    function loadUserInfo() {
        const apiUrl = window.config.apiUrl;
        const username = "{{ username }}";
        // 서버 측에서 제공되는 템플릿 
        axios.get(`${apiUrl}/api/account/${username}`)
            .then(response => {
                const data = response.data;
                document.getElementById('user-name').textContent = data.name;
                document.getElementById('user-email').textContent = data.email;
                document.getElementById('user-nickname').textContent = data.nickname;
            })
            .catch(error => {
                console.error('사용자 정보를 불러오는데 실패했습니다.', error);
            });
    }

    // 개인정보 변경 처리 함수
    function updateUserInfo() {
        const form = document.getElementById('update-form');
        const formData = new FormData(form);

        // CSRF 토큰 가져오기
        const csrfToken = formData.get('csrfmiddlewaretoken');

        // 폼 데이터를 JSON 형식으로 변환
        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });

        axios({
            method: 'put',
            url: "{% url 'web:update' username %}",
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken  // CSRF 토큰 설정
            },
            data: JSON.stringify(data)
        })
            .then(response => {
                // 성공 시 처리
            })
            .catch(error => {
                // 오류 시 처리
                console.error('회원정보 변경에 실패했습니다.', error);
            });
    }

    loadUserInfo();
</script>


{% endblock content %}