{% extends 'base.html' %}
{% load static %}
{% block content %}

<div style="text-align: center; background-color: rgba(215, 150, 255, 0.867); padding: 20px;">
    <h3>건강한 삶을 위한 최상의 동반자, 우리는 영양제 추천 사이트 비타인포입니다. <br>
        전문가들의 지식과 경험을 바탕으로 신뢰할 수 있는 정보를 제공하여 당신의 건강을 돕겠습니다.</h3>
    <br>
    <br>
    <h6>최신 랭크에 포함되어있는 게시글을 검색해보세요</h6>
    <br>
    <br>
    <button><a href="">체형/체질 설문조사 후 추천받기</a></button>
    <br>
    <br>
    <h6>필요한글을 더 써서 여기에 적용시키자</h6>
</div>
<br>
<br>
<br>
<div style="text-align: center;">
<form action="" method="get">
    <input type="text" name="st_name" placeholder="검색"><br>
</form>
</div>
{% endblock content %}